.svg-background {
    position: absolute;
    z-index: 5;
    user-select: none!important;
}


.svg-services {
    width: 67%;
    right: 2vw;
}

.services {
    // margin-top: 40px;
    padding: 120px 0;
    background-image: url('../images/bg/block-blue.svg');
    background-repeat: no-repeat;
    background-size: 55%;
    background-position: 0 75%;

    @media (max-width: 767px) {
        background-size: 100%;
        background-position: 0;
    }
}

.services-list {
    margin-top: 50px;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px;
}

.services-list_item {
    list-style-type: none;
    transition: all 0.2s linear;
    position: relative;
    flex-basis: 350px;
    max-width: 100%;
    border-radius: 12px;
    background: #fff;
    box-shadow: 0 4px 15px 0 rgba(0,0,0,0.35);
    transition: transform .3s ,box-shadow 300ms ease, -webkit-box-shadow 300ms ease;
    min-height: 360px;
    text-align: center;
    padding: 20px 25px;


    &:hover {
        box-shadow: 0 4px 20px 4px rgba(0,0,0,0.35);
        transform: translateY(-4px);
    }

    &:nth-child(-n + 3) {
        margin-bottom: 50px;
        
        @media (max-width: 991px) {
            margin-bottom: 0;
        }
    }

    @media (max-width: 991px) {
        &:not(:last-child) {
            margin-bottom: 50px;
        }
    }
}


@media (max-width: 1199px) {
    .services-list_item:nth-child(-n + 2) {
        margin-bottom: 50px;
    }
}

@media (max-width: 991px) {
    .services-list_item:nth-child(n + 4) {
        display: none;
    }
}

.services-svg {
    width: 90px;
    height: 90px;
    fill: $main-color;
}

.services-list-title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 15px 0;
}

.more-services {
    margin: 40px auto 0;
    padding: 16px 32px;
    text-transform: uppercase;
    color: #fff;
    font-weight: 800;
    border-radius: 8px;
    background: $main-color;
    box-shadow: 0 20px 32px 0 rgba(40,85,175, .15), 0 10px 15px 0 rgba(40,85,175, .25);
    border: none;
    line-height: .94;
    transition: .4s ease;
    display: none;

    &:hover {
        box-shadow: 0 20px 32px 0 rgba(40,85,175, .35), 0 10px 15px 0 rgba(40,85,175, .45);
    }

    @media (max-width: 991px) {
        display: block;
    }
}